SLACK_WEBHOOK=<FROM SLACK APP>
GOOGLE_CLIENT_SECRET=<FROM GOOGLE CLOUD PROJECT>

GOOGLE_CLIENT_ID=<FROM GOOGLE CLOUD PROJECT>
AWS_REGION="us-west-1"
ANTHROPIC_MODEL_ID="us.anthropic.claude-opus-4-8"
HEXAGON_URL="http://localhost:3001"
GOOGLE_OAUTH_REDIRECT_URL="http://localhost:8080/callback"
STORAGE="local"